{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Voluntouch</title>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar">
        <a class="brand" href="/">Voluntouch</a>
        <ul class="nav-links">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if request.user.profile.user_type == 'volunteer' %}
          <li><a href="{% url 'volunteer_applications' %}">My Applications</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a href="/opportunities/">Opportunities</a></li>
          <li><a href="/organizations/">Organization</a></li>
          <div class="dropdown">
            <button class="dropbtn">
              {% if profile.image == null %}
              {% load static %}
              <img src="https://www.gravatar.com/avatar/?d=mp" width="30px" height="30px">
          {% else %}
          <img src="{% static profile.image|cut:'main_app/static/' %}" width="30px" height="30px">
          {% endif %}</button>
            <div class="dropdown-content">
              <a href="{% url 'profile' %}">Profile</a>
              <form action="{% url 'logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link p-0">Logout</button>
              </form>
            </div>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log in</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2025 Volunteer Management</p>
    </footer>
  </body>
</html>