{% extends "base.html" %} Opportunities {% block content %}
<h2>Available Opportunities</h2>
<ul>
  <li>
    <ul>
      <li>Posted by: {{ opportunity.organization.username }}</li>
      <li>Title: {{ opportunity.title }}</li>
      <li>Description: {{ opportunity.description }}</li>
      <li>Location: {{ opportunity.location }}</li>
      <li>Start Date: {{ opportunity.start_date }}</li>
      <li>End Date: {{ opportunity.end_date }}</li>
      <li>requirements: {{opportunity.requirements}}</li>
    </ul>
  </li>
</ul>
{% endblock %}
