{% extends "base.html" %}

{% block content %}
    <h2>Available Opportunities</h2>
    <div class="opportunities-container">
        {% for opportunity in opportunities %}
            <div class="opportunity-card">
                <ul>
                    <li>
                        Posted by: 
                        <a href="{% url 'organization_detail' opportunity.organization.id %}">
                            {{ opportunity.organization.name }}
                        </a>
                    </li>
                    <li>Title: {{ opportunity.title }}</li>
                    <li>Description: {{ opportunity.description }}</li>
                    <li>Location: {{ opportunity.location }}</li>
                    <li>Start Date: {{ opportunity.start_date }}</li>
                    <li>End Date: {{ opportunity.end_date }}</li>
                    <li>requirements: {{opportunity.requirements}}</li>
                    {% if request.user.profile.user_type == 'volunteer' %}
                    <a href="{% url 'apply_for_opportunity' opportunity.id %}"><button type="button">Apply Now</button></a>
                    {% endif %}
                    {% if request.user.profile.user_type == 'organization' %}
                   
                    <li><a href="{% url 'opportunity_update' opportunity.id %}">Edit</a></li>
                    <a href="{% url 'opportunity_delete' opportunity.id %}">Delete</a>
                {% endif %}
            </div>
        {% empty %}
            <p>No opportunities available at the moment.</p>
        {% endfor %}
    </div>
    {% if request.user.profile.user_type == 'organization' %}
        <a href="{% url 'opportunity_create' %}" class="create-opportunity">Create New Opportunity</a>
    {% endif %}
{% endblock %}
