{% extends "base.html" %}
My Applications
{% block content %}
    <h2>Applications</h2>
    {% if applications %}
        <ul>
            {% for application in applications %}
                <li>
                    Opportunity: {{ application.opportunity.title }}
                    Status: {{ application.Status }}
                    Applied On: {{ application.AppDate }}
                    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not post any opportunities yet.</p>
    {% endif %}
{% endblock %}
